<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>

    <h1>Back online soon.</h1>
    <p>We are in maintenance mode.</p>
    <p>The site is beeing update.</p>

  </body>
</html>
